.standard-button {
  background-color: #C3D9D6; 
  border: 2px solid #FFEDD5; 
  border-radius: 10px;
  padding: 0.5rem 1rem;
  color: black;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

.standard-button:hover {
  border-color: #ED3326;
}
