# Scratch / Local Notes
notepad.odt
test.py
scratchpad.py
notebooks/

# Past Versions
version 0.1.0/

# Compiled Executables
/output*
output.exe

# Generated Data
*.xlsx
python/source data/

# Java Build Artifacts
*.class
*.jar

# Python Bytecode
__pycache__/
*.pyc

# IDE and Project Configs
.vscode/
.ropeproject/
.idea/

# Allow List
!assets/Day Sheet Master.xlsx
