# Ignore notes and scratch files
notepad.odt
test.py
scratchpad.py

# Ignore all generated data/output folders
output/**
Source Data/**

# Ignore List by File Type
*.txt
*.odt
*.csv
*.xlsx

# Ignore temporary/OS files
*.bak
*.swp
*.tmp
.DS_Store
Thumbs.db

# Ignore Python bytecode/cache
__pycache__/
*.pyc

# Ignore IDE/project files
.vscode/
.ropeproject/
.idea/

# Exceptions
!Day Sheet Master.xlsx 
