.info-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.outer-ring {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #93C5FD;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-ring:hover {
  background-color: #ED3326;
  transition: all 0.2s ease;
}

.inner-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #00ACF8; 
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.info-icon {
  width: 14px;
  height: 30px;
  pointer-events: none; /* click passes through to button */
}
