/* InfoButton.css */
:root {
    --peach: #fed7aa;
    --peach2: #fee6cb;
    --gray: #d4d4d8;
    --tex: #c3d9d6;
    --text: #000;
    --white: #fff;
    --red: #b61f11;
    --green: #59ff59;
    --ctl-h: 42px;
    --ctl-radius: 8px;
    --blue: #00acf8;
}

.outer-ring:hover{
  background-color: var(--red);
}

.outer-ring {
  width: var(--outer-ring-size, 60px);  /* default 60px */
  height: var(--outer-ring-size, 60px);
  border-radius: 50%;
  background-color: #93C5FD;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-circle {
  width: var(--inner-circle-size, 50px); /* default 50px */
  height: var(--inner-circle-size, 50px);
  border-radius: 50%;
  background-color: #00ACF8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-icon {
  width: var(--icon-width, 14px); /* default 14px */
  height: var(--icon-height, 30px); /* default 30px */
  pointer-events: none;
}
